
@media(max-width: 1550px){
    .effect-2{
        bottom: 13%;
    }
    .effect-5{
        right: 10%;
        top: 23%;
    }
}

/* @media(max-width: 1170px){
    .header .hamburger-btn{
        position: fixed;
        top: 20px;
        right: 15px;
    }
    .header .hamburger-btn.move,
    .header .hamburger-btn.show{
        position: fixed;
        top: 20px;
        right: 15px;

    }
} */

@media(max-width:991px){
    .service-section .service-item {
        flex: 0 0 50%;
        max-width: 50%
    }
    .home-section .home-text .main-text,
    .home-section .home-text .main-text .my-name{ 
        font-size: 35px;
    }
    .home-section .home-text .animation-text,
    .home-section .home-text .animation-text span{
        font-size: 25;
        /* color: red; */
    }
}
/* 
@media(max-width:585px){
    .service-section .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    the owner adds it in 767px
}  */



@media(max-width: 767px){
    .contact-section .w-50,
    .contact-section .contact-item,
    .service-section .service-item,
    .about-section .skills .skill-item,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
    }
    .contact-section .submit-btn,
    .home-section .home-text{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .effect-3{
        margin-left: -60px;
    }
    .effect-4{
        left: 15%;
    }
    .effect-5{
        top: 37%;
        right: 11%;
    }
    .nav-menu .nav-menu-inner ul li a{
        padding: 5px 15px;
        font-size: 16px;
    }
    .about-section .about-img{
        padding-bottom: 30px;
    }
    .about-section .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }
    .about-section .timeline .timeline-item:nth-child(even){
        padding-left: 75px;
    }
    .about-section .timeline::before{
        left: 35px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon{
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon{
        left: -60px;
    }
    .about-section .timeline .timeline-item{
        margin-bottom: 40px;
    }
    .about-section .timeline .timeline-item:last-child{
        margin-bottom: 0px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
        left: -30px;
        right: auto;
    }
    .download-btn{
       position: absolute;
       top: -10px;
       right: 0;
    }
    .hire-btn{
        position: absolute;
       top: -10px;
       left: 0;
    }
    .btn{
        width: 100%;
        height: 80px;
        /* border: 2px solid red; */
        display: flex;
    }
    .btn-inner{
        /* border: 2px solid green; */
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .scroll-up-btn{
        right: 14px;
        bottom: 6px;
    }

}

@media(max-width: 594px){  
    .home-section .home-img .img-box{
        max-width: 260px;
    }
    /* .header .logo{
        display: none;
    } */
    .effect-4{
        left: 11%;
        top: 11%;
    }
    .effect-2{
        bottom: 7%;
    }
    .effect-1{
        bottom: 15%;
    }
    .about-section .about-info .btn-1{
        font-size: 12px;
    }
    .section.no-content{
        position: relative;
        /* font-size: 10px; */
    }
    .section.no-content span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}